
<% listOfEvents.forEach(function(event) { %>
  <div id="eventItem">
    <div class="col-md-8 col-sm-6">
      <h5 class="artist-name white"><%= event.artist %></h5>
      <p>
        <span class="venue">
          <a href="#"><%= event.venue %></a>
        </span>
        <% if (event.time === null) {%>
          <span></span>
        <% } else { %>
          <span> at <%= event.time %></span>
        <% } %>
      </p>
      <p><%= event.date %>, <%= event.location %></p>
    <% if(event.UsersFavShows.length === 0) { %>
          <form id="favorite" action="/profile/favshow" method="POST">
            <input name="UserId" type="hidden" value="<%=user.id %>">
            <input name="FavShowId" type="hidden" value="<%=event.id %>">
            <button id="favorite-btn" type="submit" class="btn-favorite">
              <span class="glyphicon glyphicon-star"></span>Like
            </button>
          </form>
        <% } else { %>
        <% event.UsersFavShows.forEach(function(joinInstance){  %>

        <% if(joinInstance.UserId === user.id && joinInstance.FavShowId === event.id) { %>

        <!-- You liked already -->
        <form id="favorite" action="/home/delete?_method=delete" method="POST">
          <input name="UserId" type="hidden" value="<%=user.id %>">
          <input name="FavShowId" type="hidden" value="<%=event.id %>">
          <button id="favorite-btn" type="submit" class="btn-favorite-selected"><span class="glyphicon glyphicon-star"></span>Liked!</button>
        </form>

        <% } else { %>
        <form id="favorite" action="/profile/favshow" method="POST">
          <input name="UserId" type="hidden" value="<%=user.id %>">
          <input name="FavShowId" type="hidden" value="<%=event.id %>">
          <button id="favorite-btn" type="submit" class="btn-favorite"><span class="glyphicon glyphicon-star"></span>Like</button>
          </form>
        <p>
        <% } %>
      <% }) %>
      <% } %>
        </p>
    </div>
    <iframe src="https://embed.spotify.com/?uri=<%=event.track_id %>" frameborder="0" allowtransparency="true"></iframe>
  </div>
<% }) %>